# Structure of analysis
- Objective
- Modules
- Import 
- Clean 
- Organize 
- Generate 
- Analyze

# Objective

1. Calculate team win percentages: $winper=\frac{W}{W+L}$
2. Calculate team expected win percentages based on the origonal Pythagoream formula: $\widehat{winper}=\frac{RF^2}{RF^2+ RA^2}$
3. Save datafram as csv in working directory

## Modules

In [18]:
import os
import sys
import pandas 
import numpy
import matplotlib
%matplotlib inline

## Import

In [4]:
print('observe working directory')
os.getcwd()

observe working directory

'C:\\Users\\kmongeon\\GIT\\4P94_2017\\01-pythagorean'

In [5]:
# print('change working directory')
# os.chdir('/home/vmuser/Documents/4P94/01-pythagorean')

In [6]:
dm = pandas.read_csv('mlb_win.csv')
dm.head()

## Clean

In [7]:
dm.columns

Index(['Team', 'League', 'W', 'L', 'Runs For', 'Runs Against'], dtype='object')

In [8]:
dm.dtypes

Team            object
League          object
W                int64
L                int64
Runs For         int64
Runs Against     int64
dtype: object

## Organize

In [11]:
dm = dm.sort_values(by=['League', 'Team'])
dm.head()

                 Team League   W   L  Runs For  Runs Against
14  Baltimore Orioles     AL  81  81       713           693
11     Boston Red Sox     AL  78  84       748           753
9   Chicago White Sox     AL  76  86       622           701
15  Cleveland Indians     AL  81  80       669           640
8      Detroit Tigers     AL  74  87       689           803

## Generate

In [13]:
dm['RF2'] = dm['Runs For']**2
dm['RA2'] = dm['Runs Against']**2
dm.head()

                 Team League   W   L  Runs For  Runs Against     RF2     RA2
14  Baltimore Orioles     AL  81  81       713           693  508369  480249
11     Boston Red Sox     AL  78  84       748           753  559504  567009
9   Chicago White Sox     AL  76  86       622           701  386884  491401
15  Cleveland Indians     AL  81  80       669           640  447561  409600
8      Detroit Tigers     AL  74  87       689           803  474721  644809

##  Analyze

In [15]:
dm['WP']  = dm['Runs For'] / (dm['Runs For']  + dm['Runs Against'] )
dm['EWP'] = dm['RF2'] / (dm['RF2']+ dm['RA2'] )
dm['Diff'] = dm['WP']  - dm['EWP']
dm.head()

,Team,League,W,L,Runs For,Runs Against,RF2,RA2,WP,EWP,Diff
14,Baltimore Orioles,AL,81,81,713,693,508369,480249,0.507112,0.514222,-0.007109
11,Boston Red Sox,AL,78,84,748,753,559504,567009,0.498334,0.496669,0.001666
9,Chicago White Sox,AL,76,86,622,701,386884,491401,0.470144,0.440499,0.029644
15,Cleveland Indians,AL,81,80,669,640,447561,409600,0.511077,0.522143,-0.011066
8,Detroit Tigers,AL,74,87,689,803,474721,644809,0.461796,0.424036,0.037760

In [16]:
dm[['Team', 'WP', 'EWP']].head()

                 Team        WP       EWP
14  Baltimore Orioles  0.507112  0.514222
11     Boston Red Sox  0.498334  0.496669
9   Chicago White Sox  0.470144  0.440499
15  Cleveland Indians  0.511077  0.522143
8      Detroit Tigers  0.461796  0.424036

## Save to csv file

In [17]:
dm.to_csv('mlb_expected.csv')

## Done